body {
    font-family: 'Arial', 'Cambria';
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #07838c;
  }

  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .img-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .img-card:hover {
    transform: scale(1.05);
  }
  
  .img-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .img-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .img-card p {
    color: #666;
    margin-bottom: 15px;
  }
  
  .price {
    font-weight: bold;
    color: #2ecc71;
    display: block;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #02304f;
    border-style: solid;
  }